:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

input{
  margin: 30px;
  height: 40px;
  width: 15%;
  border: none;
  
  border-radius: 5px;
  text-align: center;

}
.maindiv{
  margin-top: -500px;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  width: 360px;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}


.modal-box h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
  text-align: center;
}


.modal-box input {
  width: 80%;
  margin-bottom: 12px;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 14px;
}





body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom,#f9f9f9,#646cff);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(4, 58, 4, 0.911);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.trow:hover{
  background-color:darkblue;
  color: white;
}
table{
  
  border: 1px solid white;
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
